<div class="col-3 d-inline-block mb-3">
  <%= attachment_image_tag(store, :profile_image, :fill, 100, 100, size:"100x100", fallback: "no_image.png") %>
</div>
<div class="col-7 offset-1 d-inline-flex">
  <div class="markers_count_<%= store.id %> py-4 mx-5">
    <p>フォロワー数：&ensp;<%= store.markers.count %></p>
  </div>
  <div class="marker-btn_<%= store.id %>" style="font-size: 30px;">
    <%= render "public/markers/marker-btn", store: store %>
  </div>
</div>

<table class="table table-borderless table-dark" style="opacity: 0.8;">
  <tr>
    <td>店舗名</td>
    <td><%= store.name %></td>
  </tr>
  <tr>
    <td>カナ</td>
    <td><%= store.name_kana %></td>
  </tr>
<% if admin_signed_in? %>
  <tr>
    <td>カウント</td>
  <% if store.is_deleted == true %>
    <td class="text-danger">無効</td>
  <% else %>
    <td class="text-success"> 有効</td>
  <% end %>
  </tr>
<% end %>
  <tr>
    <td>紹介文</td>
    <td><%= store.introduction %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= store.post_address %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= store.address %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= store.phone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= store.email %></td>
  </tr>
</table>

<table class="table table-borderless table-dark text-center" style="opacity: 0.8;">
  <thead>
    <tr>
      <th class="text-center"><h5>ジャンル</h5></th>
    </tr>
  </thead>
  <tbody>
  <% genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>