<div class="container px-5 px-sm-0 mt-5">
  <div class="row">
    <div class="col-2">
      <div class="mt-3">
        <table class="table table-borderless table-dark text-center" style="opacity: 0.8;">
          <thead>
            <tr>
              <th class="text-center"><h4>お気に入り店舗一覧</h4></th>
            </tr>
          </thead>
          <tbody>
          <% @markers.each do |marker| %>
            <tr>
              <td><%= link_to marker.store.name, store_path(marker.store), class:"text-white" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
<h2>店舗</h2>
<table class='table'>
  <thead>
    <tr>
      <th>店舗画像</th>
      <th>店舗名</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= attachment_image_tag(store, :profile_image, :fill, 100, 100, size:"50x50", fallback: "no_image.png") %></td>
        <td><%= store.name %></td>
        <td><p>フォロワー数:<%= store.markers.count %></p></td>
        <td>
          <% if store.marked_by?(current_enduser) %>
            <%= link_to store_unmark_path(store), method: :delete, local: true do %>
              <p style="color: #eeee00">★</p>
            <% end %>
          <% else %>
            <%= link_to store_mark_path(store), method: :post, local: true do %>
              ★
            <% end %>
          <% end %>
        </td>
        <td><%= link_to 'Show', store_path(store) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>
