<div class="container">
  <h2 class=""><%= @store.name %> 詳細ページ</h2>
  <div class="row">
    <!--人気商品のスライダー-->
    <% if @items.count >= 3 %>
    <div class="col-lg-8 mt-4" id="theTarget">
      <% @rank_items.each do |rank_item| %>
        <div>
          <%= link_to item_path(rank_item) do %>
            <%= attachment_image_tag rank_item, :image, :fill, 300, 200, style:"height: auto; width: 100%;" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <!--人気商品の説明-->
    <div class="col-lg-3 offset-1 mt-4 my-auto">
      <% @rank_items.each.with_index(1) do |rank_item, i| %>
        <%= link_to item_path(rank_item), class:"text-dark" do %>
          <label class="bg-warning px-3 py-1"style="border-radius:5px;">
            <%= i %>番人気　：
            <%= rank_item.name %><br>
          </label>
          <div class="col text-center mt-1 mb-5 border" style="border-radius:10px;">
            <h5><%= rank_item.body %></h5>
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>

    <div class="col-lg-5 mt-5">
      <%= render 'show', store: @store, genres: @genres %>
      <h3 class=""><%= @store.name %>での注文履歴</h3>
    <!--この加盟店でお購入履歴があるのならば-->
    <% if @store_orders.any? %>
		  <table class="table table-borderless table-dark mt-5" style="opacity: 0.8;">
		    <thead class="thead-dark">
          <tr>
            <td>注文日</td>
            <td>配送先</td>
            <td>注文商品</td>
            <td>支払金額</td>
          </tr>
        </thead>
        <tbody>
        <% @store_orders.each do |store_order| %>
          <tr>
            <td><%= store_order.created_at.strftime("%Y/%m/%d") %></td>
            <td>
              〒<%= store_order.order.post_address %><br>
              <%= store_order.order.address %><br>
              <%= store_order.order.name %><br>
            </td>
            <td>
            <!--この加盟店での購入金額累計-->
            <% @store_order_total_price = 0 %>
				    <% store_order.order_details.each do |order_detail| %>
				      <%= order_detail.item.name %>×<%= order_detail.order_quantity %></br>
				      <% @store_order_total_price += order_detail.subtotal %>
				    <% end %>
			      </td>
            <td><%= @store_order_total_price.to_s(:delimited) %>円</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% else %>
      <h4>&ensp;注文履歴がありません。</h4>
    <% end %>
    </div>

    <div class="col-lg-7 pl-5">
      <h2 class="mt-5 mb-3">商品一覧</h2>
    <!--商品が登録されているか否かで場合分け-->
    <% if @items.any? %>
      <div class="row row-cols-2 row-cols-md-3 row-eq-height">
      <% @items.each do |item| %>
        <div class="col">
          <div class="card mx-auto mt-4 bg-dark shadow-lg text-white">
            <%= link_to item_path(item) do %>
              <%= attachment_image_tag item, :image, size:"200x200", class:"card-img-top", fallback:"no-img.png" %>
            <% end %>
            <div class="card-body">
              <div class="card-title">
                <%= item.genre.name %> ：
                <%= link_to item.name, item_path(item), class:"text-white" %>
              </div>
              <div class="card-text">
                <%= (item.with_tax_price).to_s(:delmited) + "円" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
        <div class="d-flex pagenation justify-content-center mt-5 mb-3">
          <%= paginate @items, :param_name => 'item_page' %>
        </div>
      </div>
    <% else %>
      <h3><br>&ensp;商品がありません。</h3>
    <% end %>

      <h2>投稿一覧</h2>
    <!--投稿が1つでもあるならば-->
    <% if @posts.any? %>
      <div class="card-deck py-5 row row-cols-2 row-cols-md-3 row-eq-height">
        <% @posts.each do |post| %>
        <div class="col">
          <div class="card mx-auto mt-4 bg-light shadow-lg text-dark">
            <%= link_to post_path(post) do %>
              <%= attachment_image_tag post, :post_image, size:'200x200', class:"card-img-top"; %>
            <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-12 mx-auto">
                  <p class="card-text">説明：<%= post.body.truncate(10) %></p>
                  <div class="d-inline-flex">
                    <span><i class="fas fa-utensils"></i> <%= post.store.name %> ｜ </span>
                    <span><i class="fas fa-comment">  <%= link_to "#{post.post_comments.count}", post_path(post), class:"text-white" %></i></span>
                    <div class="favorite-btn_<%= post.id %> ml-3">
                      <%= render 'public/favorites/favorite-btn', post: post %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
        <%= paginate @posts, :param_name => 'post_page' %>
    <% else %>
      <h3><br>&ensp;投稿がありません。</h3>
    <% end %>
  </div>
</div>