<div class="container">
  <div class="row">
    <div class="col">
    <h2>投稿一覧</h2>
    <p class="text-right"><%= link_to "新規投稿",new_post_path, class:"btn btn-primary text-black" %></p>
    <%= form_with model: @post, url: root_path, method: :get, class:"text-right mt-5", local: true do |f| %>
      <%= f.select :selection, [['いいねが多い順','likes'],['閲覧が多い順','PV'],['新しい順','new'],['古い順','old']], { include_blank: "選択してください" } %>
      <%= f.submit "sort" %>
    <% end %>
    <div class="card-deck py-5 row row-cols-2 row-cols-md-3 row-cols-lg-4 row-eq-height">
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>