<div class="container">
  <div class="row">
    <div class="col-md-11">
    <h4>投稿一覧</h4>
    <p class="text-right"><%= link_to "新規投稿",new_post_path, class:"btn btn-primary text-black" %></p>
      <div class="card-deck py-5">
      <% @posts.each do |post| %>
        <div class="card col-4 col-md-3 w-50 mx-4 mt-4 shadow-lg">
          <%= link_to post_path(post) do %>
            <%= attachment_image_tag post, :post_image, size:'200x200', class:"card-img-top" %>
          <% end %>
        <div class="card-body">
          <div class="row">
            <div class="col-11 mx-auto">
              <p class="card-text">説明：<%= post.body %></p>
              <span><i class="fas fa-user"></i> By <%= post.enduser.name %> ｜ </span>
              <span><%= link_to "#{post.post_comments.count} コメント", post_path(post), class:"text-dark" %></span>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>