<div class="container">
  <div class="row">
    <div class="col-md-11">
    <h3 class=""><%= @enduser.name %> さんの注文履歴一覧</h3>
    <!--この加盟店での注文履歴があるのならば-->
    <% if @store_orders.present? %>
		  <table class="table table-borderless table-dark mt-5" style="opacity: 0.8;">
		    <thead class="thead-dark">
          <tr>
            <td>注文日</td>
            <td>配送先</td>
            <td>注文商品</td>
            <td>支払金額</td>
            <td>ステータス</td>
            <td>注文詳細</td>
          </tr>
        </thead>
        <tbody>
        <!--この加盟店での支払い金額累計-->
        <% @sum_store_total_price = 0 %>
        <% @store_orders.each do |store_order| %>
          <tr>
            <td><%= store_order.order.created_at.strftime("%Y/%m/%d") %></td>
            <td>〒<%= store_order.order.post_address %><br>
              <%= store_order.order.address %><br>
              <%= store_order.order.name %><br>
            </td>
            <td>
            <!--この加盟店での支払い合計(200円の配送料)-->
            <% @store_total_price = 200 %>
			    	<% store_order.order.order_details.each do |order_detail| %>
			    	  <% if order_detail.store_order.store.name == current_store.name %>
			        	<%= order_detail.item.name %>×<%= order_detail.order_quantity %><br>
			        	<% @store_total_price += order_detail.subtotal %>
			        <% end %>
			    	<% end %>
		      	</td>
            <td>
              <%= @store_total_price.to_s(:delimited) %>円
              <% @sum_store_total_price += @store_total_price %>
            </td>
            <td><%= store_order.order_status_i18n %></td>
            <td><%= link_to "表示する", store_store_order_path(store_order), class:'btn btn-primary text-white' %></td>
          </tr>
        <% end %>
          <tr class="text-dark" style="background-color: yellow;">
            <th colspan="2" class="text-center">当店の利用回数：</th>
            <th><%= @store_orders.count %>回</th>
            <th>購入総額：</th>
            <th colspan="2" class="text-center"><%= @sum_store_total_price.to_s(:delimited) %>円</th>
          </tr>
        </tbody>
      </table>
    <% else %>
      <h2>当店での購入履歴がありません。</h2>
    <% end %>
    </div>
  </div>
</div>