<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="">
          <%= @enduser.name %> さんのプロフィール
      </h2>
        <div class="col-3 d-inline-block mb-3">
          <%= attachment_image_tag(@enduser, :profile_image, size:"100x100", fallback: "no_image.png") %>
        </div>
        <table class="table table-borderless table-dark" style="opacity: 0.8;">
          <tr>
            <td>ユーザーネーム</td>
            <td><%= @enduser.name %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= @enduser.introduction %></td>
          </tr>
        </table>
    </div>
    <div class="col-md-8">
    <h3 class="">注文履歴一覧</h3>
		  <table class="table table-borderless table-dark mt-5" style="opacity: 0.8;">
		    <thead class="thead-dark">
          <tr>
            <td>注文日</td>
            <td>配送先</td>
            <td>注文商品</td>
            <td>支払金額</td>
            <td>ステータス</td>
            <td>注文詳細</td>
          </tr>
        </thead>
        <tbody>
        <% if @orders.present? %>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
            <td>〒<%= order.post_address %><br>
              <%= order.address %><br>
              <%= order.name %><br>
            </td>
            <td>
            <% @store_total_price = 200 %>
			    	<% order.order_details.each do |order_detail| %>
			    	  <% if order_detail.item.store.name == current_store.name %>
			        	<%= order_detail.item.name %>×<%= order_detail.order_quantity %>
			        	<% @store_total_price += order_detail.subtotal %>
			        <% end %>
			    	<% end %>
		      	</td>
            <td><%= @store_total_price.to_s(:delimited) %>円</td>
            <td><%= order.order_status_i18n %></td>
            <td><%= link_to "表示する", store_order_path(order), class:'btn btn-primary text-white' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
        <%= paginate @orders %>
        <% else %>
          <h2>当店での購入履歴がありません</h2>
        <% end %>
    </div>
  </div>
</div>