<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="">
        <% if @enduser == current_enduser %>
          マイページ
        <% else %>
          <%= @enduser.name %> さんのプロフィール
        <% end %>
      </h2>
      <%= render 'show', enduser: @enduser %>
        <% if @enduser == current_enduser %>
        <label>これより下は自分にしか表示されません</label>
        <table class="table table-dark" style="opacity: 0.8;">
          <tr>
            <td>氏名</td>
            <td><%= @enduser.full_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= @enduser.full_name_kana %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @enduser.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @enduser.email %></td>
          </tr>
        </table>
        <% end %>
        <% if current_enduser == @enduser %>
          <div class="col-5 d-inline-block aligin-items-center">
            <h4 class="mt-1">配送先</h4>
            <%= link_to "一覧を見る", deliveries_path, class:"btn btn-info ml-5 mb-3 " %>
          </div>
          <div class="col-5 d-inline-block aligin-items-center">
            <h4>注文履歴</h4>
            <%= link_to "一覧を見る", orders_path, class:"btn btn-info ml-4 mb-3" %>
          </div>
        <% end %>
    </div>
    <div class="col-md-8">
      <h4>投稿一覧</h4>
      <% if @posts.present? %>
        <div class="card-deck py-5">
        <% @posts.each do |post| %>
          <div class="card col-4 mx-4 mt-4 shadow-lg">
            <%= link_to post_path(post) do %>
              <%= attachment_image_tag post, :post_image, size:'200x200', class:"card-img-top"; %>
            <% end %>
          <div class="card-body">
            <div class="row">
              <div class="col-11 mx-auto">
                <p class="card-text">説明：<%= post.body %></p>
                <span><i class="fas fa-user"></i> By <%= post.enduser.name %> ｜ </span>
                <span><%= link_to "#{post.post_comments.count} コメント", post_path(post), class:"text-dark" %></span>
              </div>
            </div>
          </div>
          </div>
        <% end %>
        </div>
        <%= paginate @posts %>
      <% else %>
        <h2>投稿がありません</h2>
        <% if @enduser == current_enduser %>
          <%= link_to "新規投稿", new_post_path %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>