<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="">
        <% if @enduser == current_enduser %>
          マイページ
        <% else %>
          <%= @enduser.name %> さんのプロフィール
        <% end %>
      </h2>
        <div class="col-3 d-inline-block mb-3">
          <%= attachment_image_tag(@enduser, :profile_image, size:"100x100", fallback: "no_image.png") %>
        </div>
        <div class="col-8 d-inline-block text-right">
          <h4 class="">登録情報</h4>
          <%= link_to "編集", edit_enduser_path, class:"btn btn-primary ml-3" %>
        </div>
        <table class="table table-borderless table-dark" style="opacity: 0.8;">
          <tr>
            <td>ユーザーネーム</td>
            <td><%= @enduser.name %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= @enduser.introduction %></td>
          </tr>
        </table>
          <div class="col d-flex aligin-items-center">
            <h4 class="mr-5">会員</h4>
            <%= link_to "一覧を見る", endusers_path, class:"btn btn-info ml-4 mb-3" %>
          </div>
          <div class="col d-flex aligin-items-center">
            <h4 class="mt-1">配送先</h4>
            <%= link_to "一覧を見る", deliveries_path, class:"btn btn-info ml-5 mb-3 " %>
          </div>
          <div class="col d-flex aligin-items-center">
            <h4>注文履歴</h4>
            <%= link_to "一覧を見る", orders_path, class:"btn btn-info ml-4 mb-3" %>
          </div>
    </div>
  </div>
</div>