<div class="container">
  <div class="row">
    <div class="col2">
      <h2 class="">
        <% if @enduser == current_enduser %>
          マイページ
        <% else %>
          <%= @enduser.name %> さんのプロフィール
        <% end %>
      </h2>
        <div class="col-3 d-inline-block mb-3">
          <%= attachment_image_tag(@enduser, :profile_image, size:"100x100", fallback: "no_image.png") %>
        </div>
        <div class="col-8 d-inline-block text-right">
          <h4 class="">登録情報</h4>
          <%= link_to "編集", edit_enduser_path, class:"btn btn-primary ml-3" %>
        </div>
        <table class="table table-borderless table-dark" style="opacity: 0.8;">
          <tr>
            <td>ユーザーネーム</td>
            <td><%= @enduser.name %></td>
          </tr>
          <tr>
            <td>紹介文</td>
            <td><%= @enduser.introduction %></td>
          </tr>
        <% if @enduser == current_enduser %>
          <tr>
            <td>氏名</td>
            <td><%= @enduser.full_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= @enduser.full_name_kana %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @enduser.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @enduser.email %></td>
          </tr>
        <% end %>
        </table>
          <div class="col d-flex aligin-items-center">
            <h4 class="mr-5">会員</h4>
            <%= link_to "一覧を見る", endusers_path, class:"btn btn-info ml-4 mb-3" %>
          </div>
          <div class="col d-flex aligin-items-center">
            <h4 class="mt-1">配送先</h4>
            <%= link_to "一覧を見る", deliveries_path, class:"btn btn-info ml-5 mb-3 " %>
          </div>
          <div class="col d-flex aligin-items-center">
            <h4>注文履歴</h4>
            <%= link_to "一覧を見る", orders_path, class:"btn btn-info ml-4 mb-3" %>
          </div>
    </div>
    <div class="col10 ml-5">
      <h4>投稿一覧</h4>
      <% if @posts.present? %>
        <div class="card-list-container py-5">
        <% @posts.each do |post| %>
          <div class="card w-50 mx-auto mt-4 shadow-lg">
            <%= link_to post_path(post) do %>
              <%= attachment_image_tag post, :post_image, class:"card-img-top"; %>
            <% end %>
          <div class="card-body">
            <div class="col-10">
              <p class="card-title">
              <%= link_to(post_path(post), class:"text-dark") do %>
                <strong><i class="far fa-flag"></i><span> <%= post_image.shop_name %></span></strong>
              <% end %>
              </p>
              <p class="card-text">説明：<%= post.body %></p>
                <span><i class="fas fa-user"></i> By <%= post.enduser.name %> ｜ </span>
                <span><%= link_to "#{post.post_comments.count} コメント", post_path(post), class:"text-dark" %></span>
            </div>
          </div>
        </div>
        <% end %>
        <%= paginate @posts %>
      <% else %>
        <h2>投稿がありません</h2>
        <% if @enduser == current_enduser %>
          <%= link_to "新規投稿", new_post_path %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>