<h2 class="">新規ユーザー登録</h2>

<%= form_with model: @enduser, url: enduser_registration_path, local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="text-right">
    <label>
      加盟店の方は<%= link_to "こちら", new_store_registration_path %>から新規登録してください
    </label>
  </div>
  <table class="table table-borderless table-dark" style="opacity: 0.8;">
    <tbody>
      <tr>
        <div class="field">
          <th>ユーザーネーム</th>
          <td>
            <%= f.text_field :name, autofocus: true, class: "name" %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>メールアドレス</th>
          <td colspan="2">
            <%= f.email_field :email, size: 60, autofocus: true, autocomplete: "email" %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>パスワード(6文字以上)</th>
          <td>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th>パスワード(確認用)<</th>
          <td>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </td>
        </div>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="actions">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<h5 class="text-center mt-5">既に登録済みの方は</h5>
<p class="text-center"><%= render "public/shared/links" %>からログインしてください</p>
