<ol class="step mt-3 mb-5">
  <li class="step-form"><%= link_to "注文", items_path, class:"text-dark" %></li>
	<li class="arrow">→</li>
	<li class="step-form"><%= link_to "入力", new_order_path, class:"text-dark" %></li>
	<li class="arrow">→</li>
	<li class="step-form current">確認</li>
	<li class="arrow">→</li>
	<li class="step-form text-dark">完了</li>
</ol>

<h2 class="mt-5">注文情報確認</h2>
<div class="col-md-7 d-inline-block">
<table class="table table-borderless table-dark" style="opacity: 0.8;">
  <thead class="thead-dark">
    <tr>
      <th>店舗名</th>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |c| %>
      <tr class="text-right">
        <th><%= c.item.store.name %></th>
        <td class="text-center"><%= c.item.name %></td>
        <td><%= c.item.with_tax_price.to_s(:delimited) %>円</td>
        <td><%= c.quantity %></td>
        <td><%= c.subtotal.to_s(:delimited) %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="col-md-3 d-inline-block">
<table class="table table-borderless table-dark text-right" style="opacity: 0.8;">
  <tbody>
    <tr>
      <th class="table-dark">送料</th>
      <td><%= @order.postage %>円</td>
    </tr>
    <tr>
      <th class="table-dark">商品合計</th>
      <td>
      <%= @total_price_except_postage.to_s(:delimited) %>円
      </td>
    </tr>
    <tr>
      <th class="table-dark text-warning">請求金額</th>
      <td class="text-warning"><strong><%= @total_price.to_s(:delimited) %>円</strong></td>
    </tr>
  </tbody>
</table>
</div>

<table class="table table-borderless table-dark" style="opacity: 0.8;">
  <tr>
    <th>支払方法</th>
    <td><%= @order.pay_method_i18n %></td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>
      〒<%= @order.post_address %><br><%= @order.address %>
    </td>
    <td><%= @order.name %></td>
  </tr>
</table>
<%= form_with model: @order, local: true do |f| %>
  <%= f.hidden_field :enduser_id, value: current_enduser.id %>
  <%= f.hidden_field :postage, value: @order.postage %>
  <%= f.hidden_field :total_price, value: @total_price %>
  <%= f.hidden_field :pay_method, value: @order.pay_method %>
  <%= f.hidden_field :post_address, value: @order.post_address %>
  <%= f.hidden_field :address, value: @order.address %>
  <%= f.hidden_field :name, value: @order.name %>
  <% if params[:order][:pay_method] == "0" %>
    <div class="text-center">
      <script
        type="text/javascript"
        src="https://checkout.pay.jp"
        class="payjp-button"
        data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>">
      </script>
    </div>
  <% else %>
    <div class="text-center">
      <%= f.submit "注文を確定する", class:"btn btn-success" %>
    </div>
  <% end %>
<% end %>