<div class="container">
  <div class="row">
    <h2>未読通知一覧</h2>
    <div class="col-11 mt-5">
    <% if @notifications.exists? || @order_notifications.exists? %>
      <table class="table table-dark">
      <% @notifications.each do |notification| %>
        <tr>
          <td><%= notification.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= notification.action %></td>
        </tr>
      <% end %>
      </table>
      <table class="table table-dark">
      <% @order_notifications.each do |notification| %>
        <tr>
          <td><%= notification.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= notification.action %></td>
          <td><%= link_to 'show', order_path(notification.store_order.order) %></td>
        </tr>
      <% end %>
      </table>
    <% else %>
      <h4>通知はありません</h4>
    <% end %>
    </div>
  </div>
</div>