  <div class="row">
    <h2>通知一覧</h2>
    <div class="col-12">
    <!--未読のメッセージが無いのならば-->
    <% unless @notifications.where(checked: false).any? %>
      <h4 class="text-right text-success">未読の通知はありません。</h4>
    <% end %>
    <% if @notifications.exists? %>
      <table class="table table-light">
      <% @notifications.each do |notification| %>
        <% if notification.checked == true %>
          <tr class="table-light">
            <td>
              <%= link_to store_notification_path(notification), method: :patch, class:"text-success" do %>
                <i class="fa fa-check"></i>
              <% end %>
            </td>
        <% else %>
          <tr class="table-warning">
            <td>
              <%= link_to store_notification_path(notification), method: :patch, class:"text-success", style:"opacity: 40%;" do %>
                <i class="fa fa-check"></i>
              <% end %>
            </td>
        <% end %>
        <% case notification.action %>
          <% when 'order' then %>
            <td><%= notification.created_at.strftime('%Y/%m/%d') %></td>
            <td>
            <% if current_store.marked_by?(notification.enduser) %>
              <%=link_to notification.enduser.name, store_marker_path(current_store.markers.find_by(enduser_id: notification.enduser.id)) %>
              <!--フォロワーなら注文履歴一覧ページにとぶlink-->
            <% else %>
              <%= notification.enduser.name %>
            <% end %>
              さんから<%= link_to '注文', store_store_order_path(notification.store_order) %>がありました
            </td>
          <% when 'like' then %>
            <td><%= notification.created_at.strftime('%Y/%m/%d') %></td>
            <td>
            <% if current_store.marked_by?(notification.enduser) %>
              <%=link_to notification.enduser.name, store_marker_path(current_store.markers.find_by(enduser_id: notification.enduser.id)) %>
            <% else %>
              <%= notification.enduser.name %>
            <% end %>
              さんが<%= link_to 'あなたの投稿', store_post_path(notification.post) %>にいいねしました
            </td>
          <% when 'comment' then %>
            <td><%= notification.created_at.strftime('%Y/%m/%d') %></td>
            <td>
            <% if current_store.marked_by?(notification.enduser) %>
              <%=link_to notification.enduser.name, store_marker_path(current_store.markers.find_by(enduser_id: notification.enduser.id)) %>
            <% else %>
              <%= notification.enduser.name %>
            <% end %>
              さんが<%= link_to 'あなたの投稿', store_post_path(notification.post) %>にコメントしました
            </td>
          <% when 'mark' then %>
            <td><%= notification.created_at.strftime('%Y/%m/%d') %></td>
            <td><%=link_to notification.enduser.name, store_marker_path(current_store.markers.find_by(enduser_id: notification.enduser.id)) %>さんがあなたをお気に入り登録しました</td>
          <% when 'complete' then %>
            <td><%= notification.created_at.strftime('%Y/%m/%d') %></td>
            <td>
            <% if current_store.marked_by?(notification.enduser) %>
              <%=link_to notification.enduser.name, store_marker_path(current_store.markers.find_by(enduser_id: notification.enduser.id)) %>
            <% else %>
              <%= notification.enduser.name %>
            <% end %>
              さんへ<%= link_to '注文商品', store_store_order_path(notification.store_order) %>を発送しました
            </td>
        <% end %>
        </tr>
      <% end %>
      </table>
    <% else %>
      <h4>通知はありません</h4>
    <% end %>
    </div>
  </div>