<h2 class="mt-5">会員ログイン</h2>

  <div class="text-right">
    <label>
      加盟店の方は<%= link_to "こちら", new_store_session_path %>からログインしてください
    </label>
  </div>
<%= form_with model: @enduser, url: enduser_session_path, local: true do |f| %>
  <table class="table table-borderless table-dark" style="opacity: 0.8;">
    <tbody>
      <tr>
        <th>メールアドレス</th>
        <td>
          <div class="field">
            <%= f.email_field :email, autofocus: true, size: 50, autocomplete: "email", class:"text-dark" %>
          </div>
        </td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td>
          <div class="field">
            <%= f.password_field :password, size: 50, autocomplete: "current-password", class:"text-dark" %>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="actions">
            <%= f.submit "ログイン", class:"btn btn-primary" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<h5 class="text-center mt-5">登録がお済ではない方は</h5>
<p class="text-center"><%= render "public/shared/links" %>から新規登録を行ってください</p>
